<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MALT Suite">
    <test name="UploadReportTests">
        <classes>
            <class name="tests.TestUploadFile"/>
            <class name="tests.TestCreateReport"/>
        </classes>
    </test>
</suite>